:root {
    --square_width: 22.5vw;
    --columns_num: 4;

    --gap_size: 1vw;
}

* {
    box-sizing: border-box;
}

.contenedor {
    background: lightblue;
    min-height: 200px;

    padding: 0vw;

    display: grid;
    grid-template-columns: repeat(var(--columns_num), var(--square_width));
    /* grid-template-rows: repeat(var(--rows_num), var(--square_width)); */
    grid-auto-rows: calc(var(--square_width) + var(--square_width)*0.15);
    gap: var(--gap_size);

    place-content: center;
}

.item {
    /* background: rgb(241, 197, 197); */
    font-size: 1.5rem;
    color: darkblue;
    border: 1px dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 80%;

    transition-duration: 0.25s;
    transition-property: width;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}   

.item img:hover {
    width: 95%;
}

.item p {
    text-align: center;
    /* font-size: 5vw; */
}

header {
    position: sticky;
    top: 0px;
    font-size: 2rem;
    /* background-color: aqua; */
    border: 2px solid blue;
}

@media only screen and (max-width: 480px) {
    :root {
        --square_width: 80vw;
        --columns_num: 1;
        --gap_size: 3vw;
    }
    .item p {
        font-size: 5vw;
    }
/*     .item {
        background-color: red;
    } */
}

@media only screen and (min-width: 480px) {
    :root {
        --square_width: 45vw;
        --columns_num: 2;
        --gap_size: 2vw;
    }
    .item p {
        font-size: 3.3vw;
    }    
/*     .item {
        background-color: green;
    } */
}

@media only screen and (min-width: 960px) {
    :root {
        --square_width: 23vw;
        --columns_num: 4;
        --gap_size: 1vw;
    }
    .item p {
        font-size: 1.7vw;
    }       
/*     .item {
        background-color: blue;
    } */
}