*{
    margin: 0 ;
    padding: 0; 
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background-color: #FFFBC1;
    color:black;
    
}

a{
    text-decoration: none;
 
}

ol,ul {
    list-style: none;
}

.header{
    height: 90px;
    width: 100%;
    background-color: #F7A4A4;
    /* position: fixed; */
    z-index: 100;
    /* border: .1em solid #000000; */
}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 2rem;
    z-index: 100;
    /* border: .1em solid #000000; */
}

.menuHamburguesa{
    display: none;
}


.menuHamburguesa:checked + .ulLinks{
    height:calc(100vh - 100px) ;
}



.ulLinks {
    width: 100%;
    background-color: #F7A4A4;
    position: absolute;
    top: 100px;
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    transition: all .3s;

}

.link {
    font-size: 3.1em;
    color: #ffffff;
    font-weight: bold;
}


.fi-rr-menu-burger {
    cursor: pointer;
    color: #f46c6c;
    height: 95px;
    width: 95px;
}

/* Flexbox Navbar */

@media (min-width: 768px){
    .labelHamburguesa{
        display: none;
    }
    .ulLinks{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;

    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
         
    }
    .link:hover{
       color: #FFFBC1;
        
    }
}

/* termina el flexbox del navbar */


.carousel slide carousel-fade{
    margin: 100px;
    width: 70%;
    height: 50%;
    display: flex;
    padding: 15px;
    position: relative;


} 

.carrousel-inner{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-control-prev{
    left: 0px;
    
}

.carousel-control-next{
    right: 0px;
}

.imagen1{
    width: 100%;
    height: 1000px;
    
   
   
}
.imagen2{
    width: 100%;
    height: 1000px;
    
  
}
.imagen3{
    width: 100%;
    height: 1000px;
    
   
}
.imagen4{
    width: 100%;
    height: 1000px;
 
}
.imagen5{
    width: 100%;
    height: 1000px;
    
}
.imagen6{
    width: 100%;
    height: 1000px;
    
}

/* termina el carrousel  */


.imagenLogo{
    width: 100px;
    height: 100px;

}


.nuestraAmiga{
  background-color: #ffffff;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 100%;
  height: 35%;
  margin-top: -1.6rem;
}

.novedades{
  margin-bottom: 20px;;
  color: #F7A4A4;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
}

.tituloNuestraAmigaSecu{
  margin-bottom: 10px;
  font-size: 2em;
  color: #000000;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 

}

.descripcionNuestraAmiga{
  text-align: justify;
  color: #000000;
  font-size: 1.5em;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5em;
  padding-right: 5em;
}

.saboresIncreibles{
  height: 40vw;
  width: 40vw; 
  align-self: flex-end;
 
}


/* seccion de tajetas */

 .novedadesImagenes{
  background-color: #FEBE8C;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 100%;
  height: 35%;
}

.productosPapasNuggetsBebida{
  margin-bottom: 20px;;
  color: #ffffff;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  align-self:center;


}

.segundoTituloProductos{
  margin-bottom: 10px;
  font-size: 2em;
  color: #ffffff;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-self:center; 
  margin-bottom: .5em;
  
}

 

/* VARIABLES CSS */
:root {
  /*========== Colores ==========*/
  --first-color: #000;
  --title-color:#F7A4A4;
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color:#fff
  ;

  /*========== tipo de letra y tamaño ==========*/
  --body-font:  poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}



img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== tarjeta ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* aplicando hover a las tarjetas */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* tarjeta animacion */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== puntos de corte ===============*/
/* celulares */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* computadora */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

  /* termina seccion de las tarjetas */

/* empieza sesion una pasion */

.unaPasion{
  background-color: #ffffff;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 100%;
  height: 75vh;
  margin-top: -3rem;
}

.tituloUnaPasion{
  margin-bottom: 20px;
  margin-top: 20px;
  color: #F7A4A4;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.6em;
}

.subtituloUnaPasion{
  margin-bottom: 20px;;
  color: #000000;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
}

.parrafo1{
  text-align: left;
  color: #000000;
  font-size: 1em;
  font-family: poetsen system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 2em;
  padding-right: 5em;
}

/* termina la seccion una pasion */


/* empieza el footer */

.footer{
    background-color: #B6E2A1;
    height: 100px;
    padding: 0;
    position: relative;
    margin-top: -3rem;
    
}

.imagenlogofooter{
    width: 100px;
    height: 100x;
    padding: 5px;
    float: left;
    margin-left: .5em;
}

.pie-pagina {
    background-color: #B6E2A1; 
    padding: 20px;
    text-align: center; 
  } 

  
  .contenedor-pie {
    display: flex;
    justify-content: space-between; 
  }
  
  .seccion-izquierda {
    text-align: left; 
  }
  
  .seccion-derecha {
    text-align: right; 
  }
  
  /* .footerTitulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f46c6c;
  } */
  
  .derechos {
    font-size: 12px;
    margin-bottom: 0;
    color: #f46c6c;
    bottom: auto;
  }
  
  .redesSociales {
    margin: 0;
    padding: 0;
  }
  
  .redesSociales a {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .redes {
    color: #f46c6c; 
    font-size: 20px;
  }
  
  .redes:hover {
    color: #f89d9d; 
  }
  

  .redesSociales a:hover {
    text-decoration: none;
  }
  
 .liLinksFooter{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .liLinksFooter{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #B6E2A1;
    justify-content: space-between;
  }

  .linkFooter{
    font-size: 1.2rem;
    transition: all.3s;
    color: #f46c6c;
    justify-content:center;
    align-items: center;
    display: flex;
    padding: .5em;
  }

  .linkFooter:hover{
    color: #f89d9d;
    text-decoration: none;
  }

  /* Flexbox general */

.novedades{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    
}


.novedadesAntesCarrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.novedadesImagenes {
    padding: 2% 0; 
  }
  
  .novedadesFotos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .imagen7,
  .imagen8,
  .imagen9 {
    width: 33.33%; 
    margin: 1% 0; 
    box-sizing: border-box; 
  }
  
  @media (max-width: 768px) {
    .imagen7,
    .imagen8,
    .imagen9 {
      width: 50%; /* En pantallas tablet */
    }
  }
  
  @media (max-width: 480px) {
    .imagen7,
    .imagen8,
    .imagen9 {
      width: 100%; /* En pantallas celular */
    }
  }

  @media only screen and (min-width: 850px) {
    .linksFooter {
      text-align: left; /* Alinear enlaces a la izquierda */
    }
  
    .liLinksFooter {
      margin: 5px; /* Añadir un margen de 5px alrededor de cada enlace */
    }
  }